.vxt-conference-control {
  @size: 60px;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 55px; //height: @size;
  display: flex;
  justify-content: center;
  .recording {
    position: absolute;
    left: 6rem;
    bottom: 3.5rem;
    font-size: 0.85rem;
    .icon-pause {
      margin-right: 0.5rem;
      font-size: 0.5rem;
      color: @white;
      background-color: @dangerColor;
      padding: 0.5rem;
      border-radius: 50%;
    }
  }
  .conference-actions {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    .me-vumeter {
      position: absolute;
      top: -5px;
      left: -5px;
    }
  }
  .chat-badge {
    width: 10px;
    height: 10px;
    display: block;
    top: 6px;
    margin-left: 4px;
    position: absolute;
    border-radius: 50%;
    background-color: #d04351;
    box-shadow: 0 0 8px #d04351, inset 0 0 8px #d04351;
    -webkit-animation: pulse 2s linear 1s infinite;
  }
  @-webkit-keyframes pulse {
    0% {
      box-shadow: 0 0 16px #d04351, inset 0 0 8px #d04351;
    }
    50% {
      box-shadow: 0 0 32px #d04351, inset 0 0 14px #d04351;
    }
    100% {
      box-shadow: 0 0 16px #d04351, inset 0 0 8px #d04351;
    }
  }
  ul {
    //margin: 0 0 10px;
    padding: 0 0px;
    display: block;
    list-style: none; //float: left;
    //height: @size;
    font-size: 1rem;
    .rounded(100px);
    width: auto;
    li {
      position: relative;
      display: grid;
      margin: 0;
      margin-bottom: 10px;
      width: 40px;
      height: 40px;
      &.active {
        color: #fff;
        //background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
      }
      &:hover {
        background-color: transparent;
      }
      &:first-of-type {
        margin-left: 0;
      }
      &.show-volume {
        .volume-slider {
          .opacity(1);
          top: -90px;
        }
      }
      a {
        img {
          width: 40px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        .attendees-number {
          width: 17px;
          height: 15px;
          position: absolute !important;
          line-height: 16px;
          font-size: 14px;
          padding-top: 4px;
          margin-left: -26px !important;
          margin-top: 0px !important;
          z-index: 1;
          font-family: 'DINNextLTPro-Regular';
          background: #13141C;
          border-radius: 50px;

          &.active {
            background: #3E44FE;
          }
        }
        color: #c6d9ec;
        //transition: all ease-in-out .08s;
        padding: 10px 0;
        &:hover,
        &.active {
          color: #fff;
          //background-color: #fff;
          border-radius: 50%;
          cursor: pointer;
        }
        &.on,
        &.icon-mute-participant:hover,
        &.icon-record:hover,
        &.icon-screen-share:hover,
        &.icon-camera-video:hover {
          //color: @dangerColor;
          //background-color: #fff;
          border-radius: 50%;
          cursor: pointer;
        }
        &.icon-mute-participant-on {
          //background-color: #fff;
          border-radius: 50%;
          padding: 3px;
        }
        &.icon-gear {
          &.on {
            // color: #c6d9ec;
            // background: @navActiveItemBgColor;
          }
          &:hover {
            // color: #fff;
            // background: @navActiveItemBgColor;
          }
        }
      }
    }
  }
  .clearfix();
}
