{
  "presets":[
    ["@babel/preset-env"],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-modules-commonjs"],
    "@babel/plugin-transform-regenerator",
    ["polyfill-corejs3", {
      "method": "usage-global"
    }]
  ]
}