{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "experimentalDecorators": true
    }
  },
  "env": {
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "globals": {
    "__DEV__": false,
    "window": false,
    "fetch": false,
    "document": false,
    "navigator": false,
  },
  "rules": {
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": [
      2,
      { 
        "devDependencies": true
      }
    ]
  }
}