/*
Global
*/
@font-family: "open-sans-light", sans-serif;
@font-family-medium: "open-sans-regular", sans-serif;
@font-family-semibold: "open-sans-semibold", sans-serif;
@linkColor: #3f9aff;
@primaryColor: #3e4665;
@secondaryColor: #515973;
@blueHover: #3f9aff;
@grey: #484848;
@mutedColor: #bbb;
@dangerColor: #e65c5c;
@warningColor: #fabe04;
@headeBorderColor: #e7e7e7;
@backgroundConferenceEmpty: rgba(135, 92, 230, 0.7);
@bottomBarBg: #13141C;
@black: #000;
@white: #fff;
@green: #7ad659;

/*
Nav
*/
@navBgColor: #3e4665;
@navActiveItemBgColor: #fff;

/*
Sidebar
*/
@sidebarBgColor: #3e4665;
@sidebarBorderColor: #515973;
@sidebarSubtitleColor: #c7c7c7;
@qualityIndicator: #54d269;

/*
Footer
*/
@footerLinkColor: #afafaf;

/*
Dropdown
*/
@dropdownBorderColor: #f1f1f1;
@dropdownBorderRadius: 5px;
@dropdownTextColor: #7f7f7f;
